/**********************    Establishing environment    *********************/

body, html {
    height: 100%;
}

/* Give entire screen black background so it doesn't flicker when fading */
html {
    background-color: black;
}

/* Fading transition for body */
body {
    opacity: 1;
    transition: 3000ms opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.wrapper { 
    background-image: url('images/background.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/*******************    Creating some reusable stuff    ******************/
.display-none {
    display: none;
}

.clear {
    clear: both;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

























/***************************    Intro page styling   *********************************/


/* Entire opening page */
.lock-screen {
    height: 100vh;
    background: rgba(45, 45, 45, 0.7);
}

/* Top header bar of opening page */
.lock-screen-header {
    position: fixed;
    top: 0px;
    float: right;
    width: 100%;
    height: 20px;
    margin-top: 8px;
    padding-right: 15px;
    color: rgba(202, 202, 229, 0.7);
}

/* Buttons and login content on center page */
.lock-screen-content {
    margin-left: 50%;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
    position: absolute;
    
}

/* ROW 1 */
.icon-shell {
    text-align: center;
}

.icon {
    border-radius: 50%;
    background-image: url('images/osx-icon.png');
    width: 50px;
    height: 50px;
/*     margin-top: 500px; */
}

/* ROW 2 */
.guest-name {
    width: 100px;
    text-align: center;
    margin-top: 25px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

/* ROW 3 */
.input-shell {
    text-align: center;
    margin-top: 30px;
    margin-left: -35px;
}

#enter-icon {
    border-radius: 50%;
    opacity: .7; 
    filter: alpha(opacity=50);
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

#username-enter {
    width: 250px;
}

input {
    border: none;
    border-radius: 10px;
    background: rgba(240, 240, 240, 0.5);
    width: 250px;
    height: 40px;
    padding: 10px;
    color: white;
}




/***************    Header and footer on intro page      ***********************************/
.main-screen {
    height: 100vh;
}

.header {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 20px;
    background: rgb(170, 170, 185);
}

.icon-margin {
    margin-right: 10px;
}

#time, #currentDate, #user-name {
    margin-right: 10px;
}

#user-name {
    margin-right: 30px;
}

.apple-icon {
    width: 15px;
    height: 15px;
    margin-left: 25px;
    margin-top: 3px;
}

.footer {
    border-radius: 7px 7px 0% 0%;    
    background: rgba(240, 240, 240, 0.3);
    width: 700px;
    height: 70px;
    position: fixed;
    bottom: 0px;
    /* Used transform and left: 50% to center because margin-l/r: auto will not work when using a fixed position and 0 bottom*/
    left: 50%;
    transform: translate(-50%, 0);
}

/* Desktop and Footer icons for MAIN PAGE */
.desktop-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    float: left;
    border-radius: 50%;
}

.footer-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    float: left;
    border-radius: 50%;
}





















/*****************************    PROJECT STUFF    *****************************/
.intro-block {
    font-family: 'Open Sans', sans-serif;
    color: rgb(58,58,58);
    text-align: center;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    clear: both; 
}

.project-image {
/*    box-sizing: border-box;*/
/*    max-width: 450px;*/
/*    max-height: 500px;*/
    margin: auto;
/*    height: 100%; */
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
}

/* .project-description {
    box-sizing: border-box;
    border: solid;
    border-color: black;
    float: right;
    width: 500px;
    background-color: #292627;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px; 
    letter-spacing: 2px;
} */

.window-header {
    min-width: 375px;
    height: 50px;
    border-color: black;
    border-color: rgb(176, 190, 197);
    border-style: solid;
    border-width: 1px;
    border-radius: 7px 7px 0% 0%;
    padding-right: 30px;
    box-sizing: border-box;
    background-color: dimgray;
    background: rgba(45, 45, 45, 0.5);
}

.window-url {
    margin-left: 60px;
    margin-top: 8px;
    padding-left: 5px;
    padding-top: 5px;
    height: 30px;
    border-color: black;
    border-color: rgb(176, 190, 197);
    border-style: solid;
    border-width: 1px;
    border-radius: 7px 7px 7px 7px;
    color: rgb(144, 164, 174);
}

.red-dot, .yellow-dot, .green-dot {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 4px;
    float: left;
    border-top-color: rgb(144, 164, 174);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(144, 164, 174);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(144, 164, 174);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(144, 164, 174);
    border-left-style: solid;
    border-left-width: 1px;
}

.red-dot {
    background-color: #ff575d;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.yellow-dot {
    background-color: #ffba44;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.green-dot {
    background-color: #1bc94e;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}









































/********************************Drag windows and Interact.js ************************************/
#drag-1, #drag-2, #drag-3, #drag-4, #drag-5, #drag-6, #drag-7, #drag-8, #drag-9, #drag-10 {
    width: 525px;
    height: 500px;
    min-width: 450px;
    min-height: 450px;
    margin: 30px;
    background-color: dimgray;
    color: white;
    border-radius: 0.75em;
    padding: 0%;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 10px);
}

 #drag-me::before {
    content: "#" attr(id);
    font-weight: bold;
} 

.about-me {
    height: 400px;
    width: 400px;
    padding: 25px;
    margin-left: 50%;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
    position: absolute;
    background: rgba(45, 45, 45, 0.5);
    color: white;
    
    text-align: center;
}

































